body {
    background-color: darkgrey;
}

.container {
    margin-top: 100px;
    height: 400px;
    width: 400px;
    background-color: grey;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px;
    grid-gap: 10px;
}

.container > .one, .container > .two, .container > .three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.dv1, .dv2, .dv3, .dv4, .dv5, .dv6, .dv7, .dv8, .dv9 {
    background-color: white;
    cursor: pointer;
    font-size: 60px;
}